*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #b2bec3; */
}

.middle{
  width: 500px;
  height: 600px;
  background: #d63031;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 6px #2d3436;
}

/* METODO 1 */
/* p{
  line-height: 60px;
} */

/* METODO 2 */
.element{
  padding: 4px 0;
}




.element.onlyfizz {
  animation: shake 1s infinite;
  transform: translate3d(0, 0, 0);
  /* width: 0;
  height: 0; */
}

@keyframes shake {
  10%, 80% {
    transform: translate3d(-1px, 0, 0);
  }

  10%, 70% {
    transform: translate3d(2px, 0, 0);
  }

  20%, 40%, 60% {
    transform: translate3d(-2px, 0, 0);
  }

  30%, 50% {
    transform: translate3d(2px, 0, 0);
  }
  /* 100% {
    transform: translate3d(0, 0, 0);
  } */
}
